In [26]:
import tweepy
import numpy as np
import pandas as pd
import os
import re
import matplotlib.pyplot as plt
from textblob import TextBlob
from wordcloud import WordCloud
plt.style.use('fivethirtyeight')

In [19]:
colnames = ['target', 'id', 'date','flag','user','text']

In [20]:
df = pd.read_csv('./data/tweet_data.csv',names=colnames,delimiter=',',engine='python',nrows=None,encoding='latin-1',header=None)
#df1 = pd.read_csv('/kaggle/input/training.1600000.processed.noemoticon.csv', delimiter=',', nrows = nRowsRead)

In [21]:
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [22]:
df.shape

(1600000, 6)

In [23]:
df.size

9600000

In [24]:
df['id']

0          1467810369
1          1467810672
2          1467810917
3          1467811184
4          1467811193
              ...
1599995    2193601966
1599996    2193601969
1599997    2193601991
1599998    2193602064
1599999    2193602129
Name: id, Length: 1600000, dtype: int64

In [25]:
df['text']

0          @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          is upset that he can't update his Facebook by ...
2          @Kenichan I dived many times for the ball. Man...
3            my whole body feels itchy and like its on fire
4          @nationwideclass no, it's not behaving at all....
                                 ...
1599995    Just woke up. Having no school is the best fee...
1599996    TheWDB.com - Very cool to hear old Walt interv...
1599997    Are you ready for your MoJo Makeover? Ask me f...
1599998    Happy 38th Birthday to my boo of alll time!!! ...
1599999    happy #charitytuesday @theNSPCC @SparksCharity...
Name: text, Length: 1600000, dtype: object

In [27]:
# cleaning the text

# removing tagged username '@'
def cleaningText(text):
    text = re.sub(r'@[A-Za-z0-9]+','',text) #removing @usernames
    text = re.sub(r'#','',text) #removing '#' symbols
    text = re.sub(r'https?:\/\/\S+','',text) #removing the hyperlink
    return text
df['text'] = df['text'].apply(cleaningText)

df['text']

0            - Awww, that's a bummer.  You shoulda got Da...
1          is upset that he can't update his Facebook by ...
2           I dived many times for the ball. Managed to s...
3            my whole body feels itchy and like its on fire
4           no, it's not behaving at all. i'm mad. why am...
                                 ...
1599995    Just woke up. Having no school is the best fee...
1599996    TheWDB.com - Very cool to hear old Walt interv...
1599997    Are you ready for your MoJo Makeover? Ask me f...
1599998    Happy 38th Birthday to my boo of alll time!!! ...
1599999                             happy charitytuesday
Name: text, Length: 1600000, dtype: object